@media all and (min-width: 1024px) {
  .cards-list {
    padding: 40px 0;
    text-align: center;
  }
}

.btn-loader {
  display: inline-block;
  min-height: 22px;
  background: var(--orange);
  color: #fff;
  padding: 12px;
  margin: 0 auto;
}
