button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
}
.card > *, .card__text-content > * {
  flex: 1 1 100%;
}
.card > * + * {
  padding: 13px 0 0;
}
.card:hover h2 a, .card:focus-within h2 a {
  color: var(--orange);
}
.card__preview {
  max-height: 178px;
  margin: 0 -20px;
}

.card__preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__text-content {
  display: flex;
  flex-flow: row wrap;
}
.card__text-content > * + * {
  padding: 7px 0 0;
}

.card__meta-data {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
}

.card__published-label {
  display: none;
}

.card__created-at, .card__created-at span {
  color: var(--grey99);
}

.card__user-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.card__avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.card__username {
  color: var(--orange);
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  margin: 0;
}

.card__post-link {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-align: left;
}

.card__post-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card__menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

.card__menu-button {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}
.card__menu-button:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.card__dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: var(--white);
}

.card__close-button {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
}

.controls__karma-counter > * + * {
  padding: 0 0 0 4px;
}

.controls__karma-value {
  color: var(--greyC4);
  font-size: 12px;
  line-height: 14px;
}

svg.down {
  transform: rotate(180deg);
}

.controls__comments-button {
  display: flex;
  align-items: normal;
}
.controls__comments-button * {
  color: var(--greyC4);
}

.controls__comments-number {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.controls__actions {
  display: flex;
  flex-flow: row nowrap;
}
.controls__actions > * + * {
  margin: 0 0 0 13px;
}

@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .controls__actions {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .controls__comments-button {
    display: none;
  }
}


@media all and (min-width: 1024px) {
  .controls__karma-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }
  .controls__karma-counter > * + * {
    padding: 7px 0 0;
  }

  .controls__karma-value {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }
}

@media all and (min-width: 1540px) {
  .controls__karma-counter > button.controls__up:hover > svg > path {
    fill: var(--green);
  }

  .controls__karma-counter > button.controls__down:hover > svg > path {
    fill: var(--orange);
  }
}

@media all and (min-width: 1024px) {
  .card__menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .card__menu-button {
    align-self: center;
    transform: unset;
  }
}

@media all and (min-width: 1540px) {
  .card__menu-button:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}


@media all and (min-width: 1024px) {

  .card__title {
    padding:     0 0 10px 0;
    font-size:   20px;
    line-height: 23px;
  }

  .card__post-link {
    -webkit-line-clamp: 1;
  }
}


@media all and (min-width: 1024px) {
  .card__user-link {
    padding: 0 0 0 5px;
  }
}

@media all and (min-width: 1540px) {
  .card__user-link:hover a {
    text-decoration: underline;
  }
}

@media all and (min-width: 1024px) {
  .card__text-content {
    flex-basis: 540px;
    order: 1;
    margin: 0 0 0 38px;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }
  .card__text-content > * {
    flex: 0 0;
  }

  .card__meta-data {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
  }

  .card__published-label {
    display: inline;
  }
}

@media all and (min-width: 1540px) {
  .card__text-content {
    flex-basis: 672px;
  }
}

@media all and (min-width: 1024px) {
  .card__preview {
    flex-basis: 190px;
    order:      0;
    margin:     0;
  }
}

@media all and (min-width: 1024px) {
  .card {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
  }
  /*.card > * {*/
  /*  flex: 0 0 1;*/
  /*}*/
  .card > * + * {
    padding: 0;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }
  .card:hover, .card:focus-within {
    outline: 1px solid var(--grey-demi-dark);
  }
}
@media all and (max-width: 1024px) {
  .card__list {
    top: 10px;
    left:auto;
    right:0;
    transform: translateX(0);
  }
}
