@font-face {
  font-family: "Impact";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Impact.woff2") format("woff2"),
    url("../../assets/fonts/Impact.woff2") format("woff2");
}
